*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
    


header{
    
    display: flex;
    justify-content: space-between;
    border-top: 10px #f2e205 solid;
    opacity: 1;
    margin-bottom: 2%;

    
}

.menu ul{
    display: flex;
    padding: 0 15px;
    list-style: none;
    


}

.menu ul li{
    padding: 0 15px;
    text-transform: uppercase;
    line-height: 100px;
}

.menu ul a:hover{
    color: black;
    transform: scale(1.3);
    border-bottom:2px solid black;
    display: inline-block;
}

#logocb img{
  min-height: 100px;
    margin-left: 20px;
    
}

.menu ul li a{
 text-transform: uppercase;
 color: black;
 display: inline;
 padding: 0px 10px 0px 10px;
 transition: 0.3s;

}

/*.bannerbg{
    background: url(../img/banner3.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:85vh;
}*/
.conteudo{
    position: absolute;
}
.section{
    background: url(../img/banner2.png) no-repeat left;
    background-size: 65%;
    background-color: #f2e205;
    overflow: hidden;
    padding: 80px 0;
    
}
.container{
    
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
    
}
.container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    
}
.text{
    font-size: 13px;
    color: #61626c;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fcfbcc;
    padding: 1rem 1.5rem;
    border-radius: 8px;
   
    margin-left: 32px;
}
main.cards section.card:first-child{
    margin-left: 0;
}
main.cards{
    display: flex;
    padding: 32px;

}
main.cards section.card .icon{
    width: 64px;
    height: 64px;
}
main.cards section.card img{
    width: 100%;

}
main.cards section.card h3{
    font-size: 150%;
}
main.cards section.card{
    font-weight: 300;
    
    font-size: 100%;
    margin-bottom: 16px;
}
main.cards section.card .logos{
    width: 64px;
    height: 64px;

}

/*main.cards section.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border:0;
    cursor: pointer;
    font-size: 80%;
    color: white;
    background: linear-gradient(to right, black, #61626c);
    box-shadow: 20px 20px 50px -30px yellow;
}*/

@media screen and (max-width:1200px) {
    .container{
        padding: 80px;
    }
    
}
@media screen and (max-width:1000px){
    .section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .container{
        width: 100%
        
    }
}
@media screen and (max-width:1000px){
    .section{
        padding: 0;
    }
    container{
        padding: 60px;
    }
}
@media screen and ( max-width: 720px)
{
    main.cards{
        flex-direction: column;
    }
    main.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    main.cards section.card:last-child{
        margin-bottom: 0;
    }
    
}
